@{
  Layout = "_Layout";
}

<link href="~/css/stylist-details.css" rel="stylesheet" type="text/css">
@using HairSalon.Models;
@model HairSalon.Models.Stylist;

<h1>Stylist: @Model.Name</h1>
<div class="row" id="top-row">
  <div class="col-6 offset-3">
    <h4>@Html.DisplayNameFor(model => model.Style): @Html.DisplayFor(model => model.Style)</h4>
    <h4>@Html.DisplayNameFor(model => model.Schedule): @Html.DisplayFor(model => model.Schedule)</h4>
    @if (Model.Clients.Count == 0)
    {
      <h4>No clients have been added for this stylist yet</h4>
    }
    <div class="row">
      <div class="col-2">
        <h4>Clients:</h4>
      </div>
      <div class="col-2">
        <ol>
        @foreach (Client client in Model.Clients)
        {
          <li class="mt-1">@client.Name</li>
        }
        </ol>
      </div>
    </div>
    <button class="btn btn-dark details">@Html.ActionLink("Return to stylists", "Index")</button>
    <button class="btn btn-dark details">@Html.ActionLink("Edit stylist", "Edit", new { id = Model.StylistId })</button>
    <button class="btn btn-dark details">@Html.ActionLink("Delete stylist", "Delete", new { id = Model.StylistId })</button>
  </div>
</div>


